In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data  = pd.read_csv("yellow_tripdata_2018-01.csv")

In [10]:
data.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55
5,1,2018-01-01 00:29:29,2018-01-01 00:32:48,3,0.5,1,N,143,143,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
6,1,2018-01-01 00:38:08,2018-01-01 00:48:24,2,1.7,1,N,50,239,1,9.0,0.5,0.5,2.05,0.0,0.3,12.35
7,1,2018-01-01 00:49:29,2018-01-01 00:51:53,1,0.7,1,N,239,238,1,4.0,0.5,0.5,1.00,0.0,0.3,6.30
8,1,2018-01-01 00:56:38,2018-01-01 01:01:05,1,1.0,1,N,238,24,1,5.5,0.5,0.5,1.70,0.0,0.3,8.50
9,1,2018-01-01 00:17:04,2018-01-01 00:22:24,1,0.7,1,N,170,170,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80

In [6]:
#data = data[data.trip_distance > 0]
data = data.drop(data[(data.trip_distance <= 0) | (data.tpep_dropoff_datetime == data.tpep_pickup_datetime)].index)


data.count()

VendorID                 8704275
tpep_pickup_datetime     8704275
tpep_dropoff_datetime    8704275
passenger_count          8704275
trip_distance            8704275
RatecodeID               8704275
store_and_fwd_flag       8704275
PULocationID             8704275
DOLocationID             8704275
payment_type             8704275
fare_amount              8704275
extra                    8704275
mta_tax                  8704275
tip_amount               8704275
tolls_amount             8704275
improvement_surcharge    8704275
total_amount             8704275
dtype: int64

In [7]:
8759874 - 8704275

55599

In [23]:
pd.isnull(data).values.any()

False